<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felix.middleware.model.mapper.BookRobMapper">
  <resultMap id="BaseResultMap" type="com.felix.middleware.model.entity.BookRob">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="book_no" jdbcType="VARCHAR" property="bookNo" />
    <result column="rob_time" jdbcType="TIMESTAMP" property="robTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, book_no, rob_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_rob
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book_rob
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.felix.middleware.model.entity.BookRob">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into book_rob (user_id, book_no, rob_time
      )
    values (#{userId,jdbcType=INTEGER}, #{bookNo,jdbcType=VARCHAR}, #{robTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.felix.middleware.model.entity.BookRob">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into book_rob
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="bookNo != null">
        book_no,
      </if>
      <if test="robTime != null">
        rob_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookNo != null">
        #{bookNo,jdbcType=VARCHAR},
      </if>
      <if test="robTime != null">
        #{robTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.felix.middleware.model.entity.BookRob">
    update book_rob
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookNo != null">
        book_no = #{bookNo,jdbcType=VARCHAR},
      </if>
      <if test="robTime != null">
        rob_time = #{robTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.felix.middleware.model.entity.BookRob">
    update book_rob
    set user_id = #{userId,jdbcType=INTEGER},
      book_no = #{bookNo,jdbcType=VARCHAR},
      rob_time = #{robTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countByBookNoUserId" resultType="java.lang.Integer">
      SELECT COUNT(id)
      FROM book_rob WHERE user_id=#{userId} AND book_no=#{bookNo}
  </select>
</mapper>