<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felix.middleware.model.mapper.PraiseMapper">
  <resultMap id="BaseResultMap" type="com.felix.middleware.model.entity.Praise">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="praise_time" jdbcType="TIMESTAMP" property="praiseTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_active" jdbcType="INTEGER" property="isActive" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, blog_id, user_id, praise_time, status, is_active, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from praise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from praise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.felix.middleware.model.entity.Praise">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into praise (blog_id, user_id, praise_time, 
      status, is_active, create_time
      )
    values (#{blogId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{praiseTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{isActive,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.felix.middleware.model.entity.Praise">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into praise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="praiseTime != null">
        praise_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="praiseTime != null">
        #{praiseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.felix.middleware.model.entity.Praise">
    update praise
    <set>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="praiseTime != null">
        praise_time = #{praiseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.felix.middleware.model.entity.Praise">
    update praise
    set blog_id = #{blogId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      praise_time = #{praiseTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByBlogUserId" resultType="com.felix.middleware.model.entity.Praise">
    select
    <include refid="Base_Column_List" />
    from praise
    where is_active = 1 and status = 1 and blog_id = #{blogId} and user_id = #{uId}
  </select>

  <select id="countByBlogId" resultType="java.lang.Integer">
    select
    count(id) as total
    from praise
    where is_active = 1 and status = 1 and blog_id = #{blogId}
  </select>

  <update id="cancelPraiseBlog">
    update praise
    set status = 0
    where is_active = 1 and status = 1 and blog_id = #{blogId} and user_id = #{uId}
  </update>

  <select id="getPraiseRank" resultType="com.felix.middleware.model.dto.PraiseRankDto">
    select
    blog_id as blogId,
    count(id) as total
    from praise
    where is_active = 1 and status = 1
    group by blog_id
    order by total desc
  </select>
</mapper>